/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #fdfdfd;
  height: 10000px;
}

input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.align-item-center {
  align-items: center;
}

.justify-sb {
  justify-content: space-between;
}

.col, .row[class*=row-cols-] > *,
.row [class*=col-], .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row[class*=row-cols-] > *,
.row [class*=col-] {
  flex: 0 0 auto;
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  width: 100%;
}

.row-cols-2 > * {
  width: 50%;
}

.row-cols-3 > * {
  width: 33.3333333333%;
}

.row-cols-4 > * {
  width: 25%;
}

.row-cols-5 > * {
  width: 20%;
}

.row-cols-6 > * {
  width: 16.6666666667%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    width: 100%;
  }
  .row-cols-sm-2 > * {
    width: 50%;
  }
  .row-cols-sm-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    width: 25%;
  }
  .row-cols-sm-5 > * {
    width: 20%;
  }
  .row-cols-sm-6 > * {
    width: 16.6666666667%;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    width: 100%;
  }
  .row-cols-md-2 > * {
    width: 50%;
  }
  .row-cols-md-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    width: 25%;
  }
  .row-cols-md-5 > * {
    width: 20%;
  }
  .row-cols-md-6 > * {
    width: 16.6666666667%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    width: 100%;
  }
  .row-cols-lg-2 > * {
    width: 50%;
  }
  .row-cols-lg-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    width: 25%;
  }
  .row-cols-lg-5 > * {
    width: 20%;
  }
  .row-cols-lg-6 > * {
    width: 16.6666666667%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xl-1 > * {
    width: 100%;
  }
  .row-cols-xl-2 > * {
    width: 50%;
  }
  .row-cols-xl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    width: 25%;
  }
  .row-cols-xl-5 > * {
    width: 20%;
  }
  .row-cols-xl-6 > * {
    width: 16.6666666667%;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .row-cols-xxl-1 > * {
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
a {
  color: #665f73;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #201830;
}

h1 {
  font-size: 7rem;
  line-height: 1.14;
}

h2 {
  font-size: 4.2rem;
  line-height: 1.24;
}

h3 {
  font-size: 2rem;
  line-height: 1.5;
}

p,
blockquote {
  color: #665f73;
  font-weight: 400;
}

.p1, .btn1 {
  font-size: 1.8rem;
  line-height: 1.67;
}

.p2, input[type=email],
input[type=text], .btn3, .btn2 {
  font-size: 1.6rem;
  line-height: 1.75;
}

.p3 {
  font-size: 1.4rem;
  line-height: 1.71;
}

.btn {
  color: white;
  font-weight: 600;
}

.btn1 {
  font-weight: 600;
}

.btn2 {
  font-weight: 600;
}

.btn3 {
  font-weight: 600;
}

.btn {
  --btn-height: 64px;
  width: 157px;
  max-width: 157px;
  padding: 0 18px;
  border-radius: 8px;
  background: #936cdd;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  line-height: var(--btn-height);
}
.btn.btn-dark {
  background: #201830;
}

.play-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(10%);
}
.play-circle.play-circle-dark {
  background: #201830;
}

.play-icon {
  transform: translateX(10%);
}

.tab-row {
  display: flex;
  gap: 12px;
}
.tab-row__tab {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d8d5de;
}
.tab-row__tab:hover {
  transform: scale(1.3);
  background: #936cdd;
}

input[type=email],
input[type=text] {
  display: block;
  width: 100%;
  padding: 18px 28px;
  border-radius: 8px;
  background: #2b213f;
  border: none;
  color: #aba6b5;
}
input[type=email]:focus,
input[type=text]:focus {
  outline: none;
}

.header {
  background: #fff8f3;
  padding: 42px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: -32px;
  z-index: 2;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 28px;
}
.header__sign-up {
  width: 116px;
  max-width: 116px;
  --btn-height: 48px;
}
.header__log-in {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #665f73;
}

.navbar {
  display: flex;
  gap: 48px;
}
.navbar__link {
  padding: 8px 0;
}
.navbar__link:hover::after {
  content: url(../../assets/icon/dropdown.svg);
  margin-left: 7px;
  display: inline-block;
  transform: translateY(-6%);
}

.hero {
  padding-top: 100px;
  padding-bottom: 140px;
  background: #fff8f3;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__bg-left, .hero__bg-right {
  position: relative;
  z-index: 0;
}
.hero__bg-left, .hero__bg-right {
  width: 270px;
  height: 302px;
  background: #eeaa87;
  border-radius: 8px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__img-left, .hero__img-right {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__music {
  width: 194px;
  padding: 17px 21px;
  border-radius: 9px;
  background: white;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: -30px;
  box-shadow: 0 12px 44px 0 rgba(32, 24, 48, 0.07);
}
.hero__music-play {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #936cdd;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__listener {
  margin-top: 53px;
}
.hero__listener-title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: #201830;
}
.hero__listener-row {
  margin-top: 10px;
  margin-left: 18px;
  display: flex;
}
.hero__listener-bg {
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -18px;
}
.hero__listener-bg:last-child {
  background: #201830;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.2;
  color: #fff;
}
.hero__listener-avt {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__bg-right {
  margin-top: 28px;
  background: #70a05b;
}
.hero__img-right {
  border-radius: inherit;
}
.hero__bubble {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  margin: 8px 0 12px 118px;
  background: #ff9051;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero__bubble-title {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1;
  color: white;
}
.hero__bubble-desc {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  color: white;
}
.hero__brand {
  display: flex;
  gap: 18px;
}
.hero__meida-right {
  position: relative;
}
.hero__decor {
  position: absolute;
}
.hero__decor--left {
  top: 50px;
  left: 70px;
}
.hero__decor--right {
  top: 110px;
  right: 106px;
}
.hero__label {
  width: 194px;
  padding: 14px 50px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5px);
  position: absolute;
  bottom: 16px;
}
.hero__label-name {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: #201830;
}
.hero__label-job {
  display: block;
  text-align: center;
  margin-top: 6px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: #665f73;
}
.hero__content-heading {
  width: 100%;
  margin-left: auto;
}
.hero__content-desc {
  width: 470px;
  margin-top: 20px;
  margin-left: auto;
}
.hero__actions {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 28px;
}
.hero__cta {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero__more {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  color: #665f73;
  font-weight: 600;
}
.hero__highlight {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.hero__highlight::after {
  content: "";
  display: inline-block;
  background: url(../../assets/img/smile-shape.png);
  width: 100%;
  height: 57%;
  top: 45px;
  left: 4px;
  z-index: -1;
  position: absolute;
  background-size: contain;
}

.about {
  background: white;
  padding-top: 160px;
}
.about__title {
  width: 470px;
}
.about__desc {
  margin-top: 18px;
}
.about__btn {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.about__media {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-start;
  margin-top: 45px;
  margin-bottom: 56px;
}
.about__media-img {
  width: 100%;
}
.about__circle-blur {
  width: 287px;
  height: 287px;
  border-radius: 50%;
  opacity: 0.4;
  background: #ff9051;
  filter: blur(129px);
}
.about__app-icon--soundcloud {
  margin-left: auto;
  margin-top: 3px;
}
.about__app-icon--pocket {
  margin-top: 108px;
  margin-right: 62px;
}
.about__app-icon--apple {
  position: absolute;
  width: 148px;
  top: -45px;
  right: 38.4%;
}
.about__app-icon--spotify {
  position: absolute;
  width: 126px;
  bottom: -56px;
  left: 169px;
}
.about__app-icon--google {
  position: absolute;
  width: 138px;
  bottom: -16px;
  right: 18px;
}
.about__highlight {
  display: inline-block;
  position: relative;
  z-index: 0;
}
.about__highlight::after {
  content: "";
  background: url(../../assets/img/about__smile.svg);
  width: 107%;
  height: 38px;
  position: absolute;
  z-index: -1;
  top: 23px;
  left: -6px;
}

.feature {
  margin-top: 160px;
  background: white;
}
.feature__desc {
  margin: 18px auto 0;
  width: 470px;
}
.feature__highlight {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.feature__highlight::after {
  content: "";
  background: url(../../assets/img/about__smile.svg);
  width: 104%;
  height: 34px;
  position: absolute;
  z-index: -1;
  bottom: -15px;
  left: -5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.feature__catergory {
  margin-top: 70px;
}
.feature__card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.feature__card:hover .feature__card-img {
  transform: scale(1.1);
}
.feature__card--small {
  height: 285px;
}
.feature__card--medium {
  height: 285px;
}
.feature__card--large {
  height: 600px;
}
.feature__card-img {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature__card-overlay {
  width: 100%;
  padding: 16px 24px;
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  left: 0;
}
.feature__card-top {
  display: flex;
  align-items: center;
  gap: 8px;
}
.feature__card-title {
  color: white;
}
.feature__card-wrapper {
  width: 14px;
  height: 14px;
  border: 1.2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature__card-label {
  color: white;
}
.feature__bottom {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.episode {
  background: #fff8f3;
  margin-top: 160px;
  padding: 100px 0;
}
.episode__heading {
  width: 390px;
}
.episode__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.episode__highlight {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.episode__highlight::after {
  content: "";
  background: url(../../assets/img/about__smile.svg);
  width: 104%;
  height: 34px;
  position: absolute;
  z-index: -1;
  bottom: -15px;
  left: -5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.episode__list {
  margin-top: 84px;
}
.episode__item {
  cursor: pointer;
}
.episode__item:hover .btn3 {
  color: #936cdd;
}
.episode__item:hover .play-circle-dark {
  background: #936cdd;
}
.episode .btn3,
.episode .play-circle-dark {
  transition: 0.2s;
}
.episode__item--reverse {
  flex-direction: row-reverse;
}
.episode__img {
  width: 100%;
}
.episode__info {
  color: #ff9051;
}
.episode__title {
  margin-top: 6px;
  width: 270px;
}
.episode__desc {
  margin-top: 18px;
}
.episode__cta {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 11px;
}
.episode__bottom {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}

.main {
  overflow-x: hidden;
}

.testimonial {
  margin-top: 168px;
  position: relative;
}
.testimonial__img-group {
  display: flex;
  align-items: center;
  position: relative;
}
.testimonial__img {
  border-radius: 8px;
  object-fit: cover;
}
.testimonial__img--large {
  width: 370px;
  height: 444px;
  position: relative;
  z-index: -1;
  right: 70px;
}
.testimonial__img--small {
  width: 270px;
  height: 284px;
}
.testimonial__tabs {
  position: absolute;
  left: 74px;
  bottom: 4px;
}
.testimonial__heading {
  width: 470px;
}
.testimonial__highlight {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.testimonial__highlight::after {
  content: "";
  background: url(../../assets/img/about__smile.svg);
  width: 104%;
  height: 34px;
  position: absolute;
  z-index: -1;
  bottom: -15px;
  left: -5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.testimonial__heading {
  margin-top: 18px;
}
.testimonial__desc {
  margin-top: 38px;
}
.testimonial__name {
  display: block;
  margin-top: 18px;
  color: #aba6b5;
}
.testimonial__circle {
  position: absolute;
  top: 0;
  right: -300px;
  width: 287px;
  height: 287px;
  border-radius: 287px;
  opacity: 0.4;
  background: #ff9051;
  filter: blur(129px);
}

.cta {
  margin-top: 160px;
}
.cta__main-content {
  padding: 100px 0;
  background: #201830;
}
.cta__main-content {
  position: relative;
}
.cta__heading {
  color: white;
}
.cta__desc {
  width: 470px;
}
.cta__form {
  margin-top: 88px;
}
.cta__star {
  position: absolute;
}
.cta__star1 {
  left: 35px;
  bottom: 45px;
}
.cta__star2 {
  top: 180px;
  right: 27px;
  filter: brightness(0) saturate(100%) invert(68%) sepia(49%) saturate(1151%) hue-rotate(323deg) brightness(101%) contrast(101%);
}
.cta__star3 {
  top: 26px;
  left: 528px;
  filter: brightness(0) saturate(100%) invert(88%) sepia(14%) saturate(5547%) hue-rotate(95deg) brightness(88%) contrast(66%);
}

.footer {
  background: #fff8f3;
  padding: 100px 0 38px;
}
.footer__inner {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
}
.footer__copyright {
  margin-top: 14px;
  width: 270px;
}
.footer__socials {
  display: flex;
  gap: 14px;
}
.footer__bg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #201830;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.footer__bg:hover {
  background: #936cdd;
}
.footer__nav {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}
.footer__list {
  margin-top: 24px;
}
.footer__link {
  display: block;
  margin-top: 16px;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__brand-row {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
.footer__brand {
  width: 36px;
}

@media screen and (min-width: 992px) {
  .hide-pc {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .hide-mobile {
    display: none;
  }
  .order-top {
    order: -1;
  }
  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
  }
  .menu-drawer {
    position: fixed;
    inset: 0 65% 0 0%;
    background: white;
    z-index: 2;
    transform: translateX(-100%);
    transition: all 0.4s;
    overflow-y: hidden;
  }
  .menu-content {
    padding: 20px;
  }
  .menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-close {
    width: 30px;
  }
  .menu-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
  }
  .menu-link {
    display: flex;
  }
  .menu-actions {
    margin-top: 295px;
    display: flex;
    justify-content: center;
  }
  .menu-btn {
    width: 100%;
    --btn-height: 54px;
  }
  .header {
    padding-top: 20px;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .header__menu-line {
    width: 18px;
    height: 2px;
    background: #61594f;
  }
  #mobile-menu:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  #mobile-menu:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .hero {
    padding: 42px 0 32px 0;
  }
  .hero__bg-left, .hero__bg-right {
    width: 160.188px;
    height: 179.173px;
  }
  .hero__bg-right {
    margin-top: 16.61px;
  }
  .hero__music {
    width: 115px;
    justify-content: center;
    padding: 10px 12.46px;
    margin-bottom: -17.8px;
  }
  .hero__music-play {
    width: 15.425px;
    height: 15.425px;
  }
  .hero__music-track {
    width: 67.635px;
  }
  .hero__music-icon {
    width: 4.7463px;
  }
  .hero__label {
    width: 115.098px;
    padding: 8px 30px;
    bottom: 10px;
  }
  .hero__label-name {
    font-size: 0.8306rem;
  }
  .hero__label-job {
    font-size: 0.7119rem;
  }
  .hero__listener {
    margin-top: 31.44px;
  }
  .hero__listener-title {
    font-size: 0.8306rem;
  }
  .hero__listener-row {
    margin-top: 5px;
    margin-left: 10px;
  }
  .hero__listener-bg {
    width: 28.478px;
    height: 28.478px;
    margin-left: -11px;
  }
  .hero__listener-bg :last-child {
    font-size: 0.7rem;
  }
  .hero__bubble {
    width: 48.65px;
    height: 48.65px;
    margin: 8px 0 7.12px 70px;
  }
  .hero__bubble-title {
    font-size: 0.8036rem;
  }
  .hero__bubble-desc {
    font-size: 0.5933rem;
  }
  .hero__brand {
    gap: 10.68px;
  }
  .hero__brand-logo {
    width: 16.612px;
    height: 16.612px;
  }
  .hero__decor {
    width: 26.698px;
    height: 21.68px;
  }
  .hero__decor--left {
    top: 31px;
    left: 47px;
  }
  .hero__decor--right {
    top: 67px;
    right: 50px;
  }
  .hero__content {
    margin-top: 39px;
  }
  .hero__content-heading {
    font-size: 3.6rem;
  }
  .hero__content-desc {
    margin-top: 12px;
    font-size: 1.4rem;
    width: 100%;
    line-height: 1.71;
  }
  .hero__highlight::after {
    height: 47%;
    top: 23px;
    left: 3px;
    background-repeat: no-repeat;
  }
  .hero__actions {
    margin-top: 28px;
  }
  .about {
    padding-top: 100px;
  }
  .about__circle-blur {
    width: 176px;
    height: 176px;
  }
  .about__app-icon--apple {
    width: 89px;
    right: 140px;
  }
  .about__app-icon--pocket {
    width: 48px;
    margin-top: 52.6px;
  }
  .about__app-icon--soundcloud {
    width: 58px;
  }
  .about__app-icon--spotify {
    width: 75px;
    left: 101px;
  }
  .about__app-icon--google {
    width: 82px;
    right: 28px;
  }
  .about__content {
    margin-top: 38px;
  }
  .about__title {
    font-size: 2.6rem;
    width: 100%;
    line-height: 1.38;
  }
  .about__highlight::after {
    left: 4px;
    top: 16px;
    background: url(../../assets/img/mobile-smile-shape.svg);
    background-repeat: no-repeat;
  }
  .about__desc {
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.71;
  }
  .about__btn {
    margin-top: 28px;
  }
}

/*# sourceMappingURL=main.css.map */
