@use "../abstracts/mixins" as func;
@use "../abstracts/variables" as var;

.episode {
    background: var.$primary-color;
    margin-top: 160px;
    padding: 100px 0;

    &__heading {
        width: 390px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__highlight {
        position: relative;
        display: inline-block;
        z-index: 0;

        &::after {
            content: "";
            background: url(../../assets/img/about__smile.svg);
            width: 104%;
            height: 34px;
            position: absolute;
            z-index: -1;
            bottom: -15px;
            left: -5px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__list {
        margin-top: 84px;
    }

    &__item {
        cursor: pointer;

        &:hover {
            .btn3 {
                color: var.$tertiary-color;
            }

            .play-circle-dark {
                background: var.$tertiary-color;
            }
        }
    }

    .btn3,
    .play-circle-dark {
        transition: 0.2s;
    }

    &__item--reverse {
        flex-direction: row-reverse;
    }

    &__img {
        width: 100%;
    }

    &__info {
        color: var.$secondary-color;
    }

    &__title {
        margin-top: 6px;
        width: 270px;
    }

    &__desc {
        margin-top: 18px;
    }

    &__cta {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-top: 11px;
    }

    &__bottom {
        margin-top: 55px;
        display: flex;
        justify-content: center;
    }
}
