@use "../abstracts/mixins" as func;

.header {
    padding: 42px 0 12px;
    @include func.flexCenter();
    position: sticky;
    top: -8px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 28px;
    }

    &__sign-up {
        width: 116px;
        max-width: 116px;
        --btn-height: 48px;
    }

    &__log-in {
        @include func.styleContent(md);
    }
}

.navbar {
    display: flex;

    &__link {
        padding: 8px 24px;
        @include func.styleContent(md);
    }

    &__link:hover {
        &::after {
            content: url(../../assets/icon/dropdown.svg);
            margin-left: 7px;
        }
    }
}
