@use "../abstracts/mixins" as func;
@use "../abstracts/variables" as var;

.main {
    overflow-x: hidden;
}

.testimonial {
    margin-top: 168px;
    position: relative;

    &__img-group {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__img {
        border-radius: 8px;
        object-fit: cover;

        &--large {
            width: 370px;
            height: 444px;
            position: relative;
            z-index: -1;
            right: 70px;
        }

        &--small {
            width: 270px;
            height: 284px;
        }
    }

    &__tabs {
        position: absolute;
        left: 74px;
        bottom: 4px;
    }

    &__heading {
        width: 470px;
    }

    &__highlight {
        position: relative;
        display: inline-block;
        z-index: 0;

        &::after {
            content: "";
            background: url(../../assets/img/about__smile.svg);
            width: 104%;
            height: 34px;
            position: absolute;
            z-index: -1;
            bottom: -15px;
            left: -5px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__heading {
        margin-top: 18px;
    }

    &__desc {
        margin-top: 38px;
    }

    &__name {
        display: block;
        margin-top: 18px;
        color: #aba6b5;
    }

    &__circle {
        position: absolute;
        top: 0;
        right: -300px;
        width: 287px;
        height: 287px;
        border-radius: 287px;
        opacity: 0.4;
        background: var.$secondary-color;
        filter: blur(129px);
    }
}
