@use "../abstracts/variables" as var;

* {
    box-sizing: border-box;
}

html {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var.$primary-color;
}

input,
textarea {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}
