@use "./variables" as var;

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fontStyle(
    $color: var.$heading-color,
    $size: var.$content-size,
    $weight: var.$heading-weight
) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

@mixin styleHeading($type) {
    @if $type == "h2" {
        @include fontStyle(var.$heading2-size);
    } @else if $type == "h3" {
        @include fontStyle(var.$heading3-size);
    }
}

@mixin styleContent($type: "normal") {
    @if $type == "md" {
        @include fontStyle(
            var.$content-color,
            var.$md-content-size,
            var.$content-weight
        );
    } @else if $type == "sm" {
        @include fontStyle(
            var.$content-color,
            var.$sm-content-size,
            var.$content-weight
        );
    } @else {
        @include fontStyle(
            var.$content-color,
            var.$content-size,
            var.$content-weight
        );
    }
}
