@use "./variables" as var;

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin textCenter {
    text-align: center;
}

@mixin fontStyle(
    $color: var.$heading-color,
    $size: var.$content-size,
    $weight: var.$heading-weight,
    $height: 1
) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $color;
}

@mixin styleContent($type: "normal") {
    @if $type == "md" {
        @include fontStyle(
            var.$content-color,
            var.$md-content-size,
            var.$content-weight,
            var.$md-content-height
        );
    } @else if $type == "sm" {
        @include fontStyle(
            var.$content-color,
            var.$sm-content-size,
            var.$content-weight,
            var.$sm-content-height
        );
    } @else {
        @include fontStyle(
            var.$content-color,
            var.$content-size,
            var.$content-weight,
            var.$content-height
        );
    }
}

@mixin styleButton {
    @include fontStyle(
        var.$heading-color,
        var.$sm-content-size,
        var.$btn-weight
    );
}
