$heading-color: #201830;
$content-color: #665f73;
$primary-color: #fff8f3;
$secondary-color: #ff9051;
$tertiary-color: #936cdd;
$fourth-color: #61594f;

// Heading
$heading1-size: 7rem;
$heading2-size: 4.2rem;
$heading3-size: 2rem;

$heading1-height: 1.14;
$heading2-height: 1.24;
$heading3-height: 1.5;

$mobile-heading1-size: 3.6rem;
$mobile-heading2-size: 2.6rem;
$mobile-heading3-size: 1.2rem;
$heading-weight: 700;

// Content
$content-size: 1.8rem;
$md-content-size: 1.6rem;
$sm-content-size: 1.4rem;

$content-height: 1.67;
$md-content-height: 1.75;
$sm-content-height: 1.71;

$mobile-small-size: 1rem;

$content-weight: 400;

// Button
$btn-weight: 600;
