$heading-color: #201830;
$content-color: #665f73;
$primary-color: #fff8f3;
$secondary-color: #ff9051;
$tertiary-color: #936cdd;

$heading1-size: 7rem;
$heading2-size: 4.2rem;
$heading3-size: 2rem;
$mobile-heading1-size: 3.6rem;
$mobile-heading2-size: 2.6rem;
$mobile-heading3-size: 1.2rem;
$heading-weight: 700;

$content-size: 1.8rem;
$md-content-size: 1.6rem;
$sm-content-size: 1.4rem;
$mb-size: 1.4rem;
$mb-md-size: 1rem;
$content-weight: 400;

$btn-weight: 600;
